@{
    ViewBag.Title = "Index";
}

<div class="map-container">
    <div id="map">My precious map</div>
    <div class="map-data">
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Imei</th>
                <th>Date</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Imei</td>
                    <td>@item.Date</td>
                    <td>@item.Longitude</td>
                    <td>@item.Latitude</td>
                </tr> 
            } 
        </table>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="~/Scripts/map-scripts/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC88vtPNdfd1cjSxJSNr7rKlAD7XlgKP3c&callback=myMap"
        type="text/javascript"></script>

